// 自定义一些class快捷名,减少行内style使用
@for $i from 1 through 20 {
    .m-t-#{$i} {
        margin-top: 1px * $i;
    }
}
@for $i from 1 through 20 {
    .m-r-#{$i} {
        margin-right: 1px * $i;
    }
}
@for $i from 1 through 20 {
    .m-b-#{$i} {
        margin-bottom: 1px * $i;
    }
}
@for $i from 1 through 20 {
    .m-l-#{$i} {
        margin-left: 1px * $i;
    }
}

.cp {
    cursor: pointer;
}
