.fade-q-enter-active {
    transition: opacity 0.4s linear;
}

.fade-q-leave-active {
    transition: opacity 0s linear;
}

.fade-q-enter-from {
    opacity: 0;
}

.fade-q-leave-to {
    opacity: 0;
}
