.fadeIn-enter-active {
    transition: all 0.4s ease-in-out;
}

.fadeIn-leave-active {
    transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}

.fadeIn-enter-from,
.fadeIn-leave-to {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(30px);
}
