@import './layout.scss';
@import './fadeIn.scss';
@import './fade.scss';
@import './slide.scss';
@import './fadeQ.scss';

@keyframes move {
    0% {
        transform: translate3D(40px, 40px, 0);
        opacity: 0;
    }

    60% {
        transform: translate3D(-10px, -10px, 0);
        opacity: 0.7;
    }

    100% {
        transform: translate3D(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    30% {
        transform: translateY(20px);
        opacity: 0;
    }

    60% {
        transform: translateY(-6px);
        opacity: 0.9;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shiny-btn1 {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 50;
    }
}

@keyframes wobbleHorizontal {
    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }

    1% {
        transform: scale3d(1.25, 0.75, 1);
    }

    2% {
        transform: scale3d(0.75, 1.25, 1);
    }

    3% {
        transform: scale3d(1.15, 0.85, 1);
    }

    4% {
        transform: scale3d(0.95, 1.05, 1);
    }

    5% {
        opacity: 100;
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 100;
        width: calc(100% - 20px);
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-800px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
