.layout-enter-active,
.layout-leave-active {
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.layout-enter-from,
.layout-leave-to {
    transform: translateY(20px);
    filter: blur(10px);
    opacity: 0;
}
