@mixin media-size($m, $c) {
    $w: calc(100% / #{$c} - #{$m} + (#{$m} / #{$c}));

    .ll-media {
        width: $w;
        margin-right: $m;
    }

    .ll-media:nth-child(#{$c}n) {
        width: $w;
        margin-right: 0;
    }
}

@media screen and (min-width: 2500px) {
    @include media-size(16px, 8);
}

@media screen and (max-width: 2500px) and (min-width: 1600px) {
    @include media-size(18px, 6);
}

@media screen and (max-width: 1600px) and (min-width: 1280px) {
    @include media-size(15px, 5);
}

@media screen and (max-width: 1280px) and (min-width: 960px) {
    @include media-size(16px, 4);
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    @include media-size(12px, 3);
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    @include media-size(12px, 2);
}

@media screen and (max-width: 480px) {
    .ll-media {
        width: calc(100% / 1);
    }
}
